*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none ;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: #555;
    
}
p{
    color: #555;
    
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 25px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 55px;
    line-height: 60px;
    margin: 35px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #3b3636;
}
.header{
    background: radial-gradient(#fff,#e1cdb0);
}
.para{
    font-size: 23px;
    font-style: italic;
}
.header.row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 27%;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-3 img{
    width: 100%
}
.small-container{
    max-width: 1040px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 70px;
    position: relative;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}  
h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 19px;
}
.col-4:hover{
    transform: translateY(-18px);
}
.offer{
    background: radial-gradient(#fff,#4296f0);
    margin-top: 80px;
    padding: 30px 0;
}
.offer-img:hover{
    animation: bounce;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
#quotes-before{
  font-size: 90px;
  color:#0b0000;
}
.L1{
    font-size: 20px;
}
small{
    color: #555;
}

.testimonial{
    padding-top: 100px;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 100px;
    margin-top: 25px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-17px);
}

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 40px 70px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1 .footer-col-2, .footer-col-3, .fooer-col-4{
    min-width: 290px;
    margin-bottom: 3px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 150px;
    margin-bottom: 35px;
}

.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 35px;
}

.app-logo img{
    width: 190px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
    font-weight: 900;
    padding-right: 30px;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* -------------------------products------------------ */
.row-2{
    justify-content: space-between;
    margin: 90px auto 60px;
}

.page-btm{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: white;
}
.alp{
    font-size: 45px;
    margin: 10px;
    padding: 20px;
}

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li{
        color: #fff
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

.insta{
    font-weight:bolder;
    transition: transform 0.5s;
    color: white;
}

.insta:hover{
    background: #0f0101;
    transform: translateY(-5px);

}
.app-logo{
    transition: transform 0.5s;
}
.app-logo img:hover{
    transform: translateY(-4px);
}
.A>a{
    font-weight: bolder;
    color: #000;
}
.P>a{
    font-weight: bolder;
    color: #000;
}
.AC>a{
    font-weight: bolder;
    color: #000;
}
.C>a{
    font-weight: bolder;
    color: #000;
}
.H>a{
    font-weight: bolder;
    color: #000;
}

.A:hover{
    transform: translateY(-5px);
}
.P:hover{
    transform: translateY(-5px);
}
.AC:hover{
    transform: translateY(-5px);
}
.C:hover{
    transform: translateY(-5px);
}
.H:hover{
    transform: translateY(-5px);
}

/* ----------------------- */
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-row{
    flex-basis: 24%;
    cursor: pointer;
}

@media  only screen and(max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis:100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
}
/* ------------------login------------ */



.background{
    background: url("images/new.wallpaper4.jpg"); 
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 100vh;
 }
 * {
     padding: 0;
     margin: 0px;
 }
 #container {
     margin: auto;
     height: fit-content;
     width: 650px;
     text-align: center;
     padding-top: 22vh;
 
 
 }
 
 form {
     display: flex;
     flex-direction: column;
     background-color: rgb(14, 19, 24);
     border: 2px solid rgb(90, 71, 71);
     padding: 30px;
     padding-top: 20px;
     border-radius: 7.5px;
     color: rgb(12, 11, 11);
     font-size: 20px;
     background: radial-gradient(#fff,#ea8e0d);
 }
 label {
     margin-top: 12px;
 }
 .text {
     width: 75ch;
     display: block;
     height: 40px;
     margin: auto;
 }
 #submit {
     width: 80px;
     height: 35px;
     border-color: #3b3b4f;
     margin: auto;
     margin-top: 5px;
     background: #d0d0d5;
 }
 .terms {
     margin-top: 12px;
     text-align: left;
 
 }
 .terms>input[type="radio"] {
     vertical-align:text-bottom ;
 }

.home-out{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 15px;
    margin: 30px 5px;
    border-radius: 30px;
    transition: background 0.5s;
}
.home-out:hover{
    transform: translateY(-4px);
}
#submit:hover{
    transform: translateY(-4px);
}
.login11{
    width: 0px;
    height: 6px;

}
#product-body{
    background: radial-gradient(#fff,#ea8e0d);
}
@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-14px)
    }
    50%{
        transform: translateY(0px)
    }
    75%{
        transform: translateY(-14px)
    }
    100% {
        transform: translateY(0px)
    }

}